body {
  background-color: #515151;
  margin: 0;
}

div {
  width: 100%;
  height: 100%;
  display: table;
}
div #centerContent {
  height: auto;
  display: table-cell;
}
div #centerContent h1 {
  font-family: Helvetica, sans-serif;
  text-align: center;
  color: #ffffff;
  margin-bottom: 0px;
}
div #centerContent p {
  font-family: Helvetica, sans-serif;
  color: #7cffff;
  text-align: center;
}

img {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

img:hover {
  opacity: 0.5;
}

h2 {
  text-align: center;
  font-family: Helvetica, sans-serif;
  color: #42007c;
}

/*# sourceMappingURL=style.css.map */
