$backgroundColor: #515151;
$font: Helvetica, sans-serif;
$h1TextColor: #ffffff;
$pTextColor: #7cffff;
$h2TextColor: #42007c;
$bodyMargin: 0;
$alignCenter: center;
$hoverOpacity: 0.5;

body{
	background-color: $backgroundColor;
	margin: $bodyMargin;
}

div {
  width: 100%;
  height: 100%;
  display: table;
  #centerContent {
    height: auto;
    display: table-cell;

    h1 {
      font-family: $font;
      text-align: $alignCenter;
      color: $h1TextColor;
      margin-bottom: 0px;
    }

    p{
      font-family: $font;
      color: $pTextColor;
      text-align: $alignCenter;
    }


  }
}

img{
    display: block;
    margin-left: auto;
    margin-right: auto;
}

img:hover{
	opacity: $hoverOpacity;
}

h2{
	text-align: $alignCenter;
	font-family: $font;
	color: $h2TextColor;
}



